@import "../../scss/variable";
.calendar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 3px;
    padding: 12px 0;
    color: $color-white;
}

.move-week{
    width: 32px;
    height: 32px;
}

.calendar-week-btn{
    background-color: #3e9bff;
    width: 12px;
    height: 100%;
    border: none;
    color: $color-white;
    font-family: $font-family-primary;
    font-size: $font-size-medium;
}