@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

// Definir las variables de fuente
$font-family-primary: 'Montserrat', sans-serif;

// Definir los pesos de fuente
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

// Definir los tamaños de fuente
$font-size-small: 0.9rem;   // 12px
$font-size-medium: 1.25rem;     // 16px
$font-size-large: 1.5rem;    // 20px

// Colores
$color-black: #333333; // Negro suave
$color-white: #F8F8F8; // Blanco suave
$color-gray: #CCCCCC; // Gris suave
$color-light-gray: #EFEFEF; // Gris claro
$color-dark-gray: #666666; // Gris oscuro
$color-off-white: #F2F2F2; // Blanco apagado